<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Product</title>

    <style>
        .fourItemBox {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            height: auto;
            margin-bottom: 20px;
        }

        .singleCard {
            width: 100%;
            flex: 1 1 calc(33.333% - 20px);
            margin: 10px;
            color: white;
            font-size: 16px;
            box-sizing: border-box;
            align-items: center;
        }

        .singleCard img {
            padding: 10px;
            width: 100%;
            margin: 0 auto;
            display: block;
            border-radius: 15px;
            object-fit: contain;
        }

        .singleCard:hover {
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
        }

        .ratings {
            width: 50px;
            height: 20px;
            margin-top: 10px;
            font-size: 1.0rem;
            font-weight: 500;
            margin-left: 20px;
            background-color: green;
            color: white;
            text-align: center;
            padding-top: 1px;
            border-radius: 3px;
        }

        .like {
            width: 30px;
            height: 30px;
            margin-left: auto;
            margin-top: 8px;
            border-radius: 50%;
            text-align: center;
            padding-top: 6px;
            z-index: 10;
            border: none;
        }

        #heartIcon {
            font-size: 22px;
        }

        @media (max-width: 768px) {
            .singleCard {
                flex: 1 1 calc(50% - 20px);
            }
        }

        @media (max-width: 480px) {
            .singleCard {
                flex: 1 1 100%;
            }
        }
    </style>
</head>

<body>
    <% for (let i=0; i < categoryProduct.length; i +=3) { %>
        <div class="fourItemBox">
            <% for (let j=i; j < i + 3 && j < categoryProduct.length; j++) { %>
                <div class="singleCard" id="<%=categoryProduct[j]._id%>"
                    onclick="goToDetails('<%= categoryProduct[j].name %>', '<%= categoryProduct[j].category %>')">

                    <div class="like" id="<%=categoryProduct[j]._id%>" onclick="addWishlist('<%=categoryProduct[j]._id%>','<%=userId%>')"><i
                            style="color: <%= wishlistProducts.includes(categoryProduct[j]._id.toString()) ? 'red' : 'rgb(196, 196, 196)' %>;"
                            class="fa-solid fa-heart" id="heartIcon"></i></div>

                    <img src="<%=categoryProduct[j].images[0]%>" alt="<%=categoryProduct[j].name%>">
                    <strong style="display: block; font-size: 20px; text-align: center; color:black; margin: 10px;">
                        <%=categoryProduct[j].name%>
                    </strong>
                    <div style="display: flex;">
                        <div class="ratings">
                            <%=categoryProduct[j].seller.rating%> <i class="fa-solid fa-star"
                                    style="font-size: 15px;"></i>
                        </div>
                        <p style="font-size: 16px; font-weight: 400; color: black;">
                            <i><strong>
                                    <%=categoryProduct[j].seller.totalRatings%> Ratings &
                                        <%=categoryProduct[j].seller.reviews%> Reviews
                                </strong></i>
                        </p>
                    </div>
                    <div style="text-align: center; margin-top: 10px; color: black;">
                        <strong style="font-size: 24px; ">₹<%=categoryProduct[j].price.discountedPrice%></strong>
                        <div style="display: flex; width: 100%; justify-content: space-evenly;">
                            <p style="text-decoration: line-through; font-size: 25px; color: grey;">
                                <i class="fa-solid fa-indian-rupee-sign" style="font-size: 18px;"></i>
                                <strong>
                                    <%= categoryProduct[j].price.originalPrice %>
                                </strong>
                            </p>
                            <strong
                                style="color: green; font-size: 25px; margin-left: 5px; margin-top: 11px; margin-bottom: 0px;">
                                <%=
                                    Math.round((categoryProduct[j].price.originalPrice-categoryProduct[j].price.discountedPrice)*100/categoryProduct[j].price.originalPrice)%>
                                    % off
                            </strong>
                        </div>
                        <% if (categoryProduct[j].paymentOptions.cashOnDelivery){%>
                            <strong
                                style="display: block; font-size: 18px; text-align: center; color: green; margin-top: 10px;">Cash
                                On Delivery Available</strong>
                            <%}%>
                                <% categoryProduct[j].availableOffers.forEach((offer)=>{%>
                                    <strong
                                        style="display: block; text-align: center; font-size: 18px; color: rgb(2, 161, 2);">
                                        <%=offer.description%>
                                    </strong>
                                    <%})%>
                    </div>
                </div>
                <% } %>
        </div>
        <% } %>
            <script>
                const heartIcon = document.querySelector('#heartIcon');
                heartIcon.addEventListener('click', () => {
                    heartIcon.classList.toggle('active');

                })
                function addWishlist(productId, userId) {
                    fetch('/addToWishlist', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ productId, userId })
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                window.location.reload();
                            } else {
                                alert(data.message);
                            }
                        })
                        .catch(error => {
                            console.log('Error:', error);
                            alert('An error occurred while adding the product to wishlist.');
                        });
                }
                function goToDetails(name, category) {
                    window.location.href = `/product?name=${encodeURIComponent(name)}&category=${encodeURIComponent(category)}`;
                }
                let activity = [];

                document.querySelectorAll('.singleCard').forEach((item) => {
                    item.addEventListener('click', function () {
                        activity.push({
                            productId: this.id,
                            timeStamp: new Date().toLocaleString()
                        })
                        sendActivityToServer();
                    });
                });
                document.querySelectorAll('.like').forEach((likedItem) => {
                    likedItem.addEventListener('click', function () {
                        activity.push({
                            productId: this.id,
                            timeStamp: new Date().toLocaleString()
                        })
                        sendActivityToServer();
                    });
                });

                function sendActivityToServer() {
                    fetch('/user/recentActivity', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ activity })
                    })
                        .then(response => response.json())
                        .then(data => {
                            console.log('Activity sent successfully:', data);
                            activity = [];
                        })
                        .catch(error => {
                            console.error('Error sending activity data:', error);
                        });
                }
            </script>
</body>

</html>