<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Recommendations</title>
    <style>
        .recommendationSection {
            font-family: Arial, sans-serif;
        }

        .recommendationSection .containerRecommend {
            background-color: transparent;
            margin: 20px;
        }

        .recommendationSection .sectionTitle {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 5px;
            margin-left: 10px;
        }

        .recommendationSection .subTitle {
            font-size: 14px;
            color: #555;
            margin-bottom: 20px;
            margin-left: 10px;
        }

        .recommendationSection .productRow {
            background-color: #f8f8f8;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 20px;
        }


        .recommendationSection .productCard {
            background-color: #fff;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
            padding: 10px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .recommendationSection .productImage:hover {
            transform: scale(1.03);
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        }

        .recommendationSection .productImage {
            width: 100%;
            height: 180px;
            object-fit: contain;
        }

        .recommendationSection .productName {
            font-size: 16px;
            font-weight: bold;
            color: #333;
            margin: 10px 0 5px;
        }

        .recommendationSection .productPrice {
            font-size: 20px;
            color: green;
            margin: 5px 0;
        }

        .recommendationSection .discount {
            color: red;
            font-size: 17px;
        }
    </style>
</head>

<body>
    <%-include('navbar')%>
        <div style="display: flex;">
            <%-include('sidebar',{categoryProduct:prodsFromPath,})%>
            <div class="recommendationSection">
                <div class="containerRecommend">
                    <h2 class="sectionTitle">
                        <%=prodsFromPath[0].category%> Items
                    </h2>
                    <% if (prodsFromPath.length> 0) { %>
                        <div class="productRow">
                            <% prodsFromPath.forEach((prod)=> { %>
                                <div class="productCard"
                                    onclick="redirectToProd('<%=prod.name%>','<%=prod.brand%>' ,'<%=prod.category%>')">
                                    <img src="<%=prod.images[0]%>" alt="Recommended" class="productImage">
                                    <p class="productName">
                                        <%=prod.name%>
                                    </p>
                                    <strong class="productPrice">₹<%=prod.price.discountedPrice%> <span class="discount">
                                                <%=Math.round(prod.price.discountPercentage)%>% off
                                            </span></strong>
                                </div>
                                <% }) %>
                        </div>
                        <% } %>
                </div>
            </div>
        </div>

        <script>
            function redirectToProd(name, brand, category) {
                window.open(`/product?name=${encodeURIComponent(name)}&brand=${encodeURIComponent(brand)}&category=${encodeURIComponent(category)}`, '_blank');
            }
        </script>
</body>

</html>